@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}



:root {
  --dark-navy:#0a192f;  
  --lightest-slate:#ffffff;
}

html,body {
  margin: 0;
  padding: 0;
  background-color: #000; 
  font-family: 'GowunDodum-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
               'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
               'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --app-font: 'GowunDodum-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
              'Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue', sans-serif;
}

.MuiTypography-root,
button, input, textarea, select {
  font-family: var(--app-font) !important;
}
